@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .h1 {
    /* @apply text-[clamp(1rem,1.2rem_+_3.2vw,6rem)] font-[500] text-center leading-none; */
    font-size: clamp(1rem, 1.2rem + 3.2vw, 6rem);
    font-weight: 500;
    text-align: center;
    line-height: 1;
  }
  p {
    @apply text-[clamp(1rem,0.2rem_+_1.3vw,2.5rem)] text-[color:var(--color-muted)] leading-normal font-[300] text-center;
  }

  input,
  textarea {
    @apply w-full h-[52px] rounded-lg outline-none ring-1 ring-transparent focus:ring-red-500 border border-white/40 placeholder:font-light ;
    background: #826a6a07;
    backdrop-filter: blur(1px);
  }

  textarea {
    @apply h-[180px] resize-none border-white/20 ;

    &::-webkit-scrollbar {
      width: 4px;
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--color-accent);
      border-radius: 20px;
    }
  }
}

@layer components {
  .page_wrapper {
    @apply min-h-[calc(100svh_-_calc(30px_+_2vw)_-_30px)] h-auto overflow-y-hidden;
    background:
      linear-gradient(90deg, var(--color-base-darker) 19px, transparent 1%) center,
      linear-gradient(0deg, var(--color-base-darker) 19px, transparent 1%) center,
      var(--color-base);
    background-size: 20px 20px;
  }

  .page {
    @apply w-full max-w-[2500px] min-h-[calc(100svh_-_calc(30px_+_2vw)_-_30px)] h-auto !scrollbar-none;
    padding: 0 clamp(2px, 1px + 1vw, 20px);
    overflow-x: hidden;
  }

  .h2 {
    font-size: clamp(1.5rem, 2.2rem + 0.8vw, 3.5rem);
    font-weight: 600;
    text-align: center;
    line-height: 1;
  }

  .card_styles {
    border-radius: 0 20px 20px 0;
    border-left: 5px solid;
    border-image: linear-gradient(
      to bottom,
      var(--color-accent),
      var(--color-accent-2)
      ) 1 100%;
    background: #ffffff07;
    box-shadow: 7px 7px 21px #ffffff1f;
    backdrop-filter: blur(1px);
  }

  .nav {
    border-right: 5px solid red;
    border-image: linear-gradient(
      to bottom,
      var(--color-accent-2),
      var(--color-accent)
      ) 1 100%;
  }

  .text_shadow {
    transition: 700ms ease-in-out;

    &:hover {
      text-shadow:
        0 0 7px #fff9,
        0 0 10px var(--color-accent-2),
        0 0 15px var(--color-accent-2),
        0 0 18px var(--color-accent),
        0 0 22px var(--color-accent);
      transition: 125ms ease-in-out;
    }
  }

  .work__container {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(1, minmax(250px, 350px)) ;
    gap: 60px;
    justify-content: center;
    align-items: center;
  }

  @media screen and (min-width: 900px) {
    .work__container {
      grid-template-columns: repeat(2, minmax(250px, 350px));
    }
  }

  @media screen and (min-width: 1800px) {
    .work__container {
      grid-template-columns: repeat(4, minmax(250px, 350px));
    }
  }
}
