@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-[clamp(1rem,1.2rem_+_3.2vw,6rem)] font-semibold text-center leading-none;
  }
  p {
    @apply text-[clamp(1rem,0.2rem_+_1.3vw,2.5rem)] text-[color:var(--color-muted)] leading-normal text-center;
  }
}

@layer components {
  .page_wrapper {
    @apply min-h-[calc(100svh_-_calc(30px_+_2vw)_-_30px)] h-auto overflow-y-hidden;
    background:
      linear-gradient(90deg, #050505 19px, transparent 1%) center,
      linear-gradient(0deg, #050505 19px, transparent 1%) center,
      var(--color-base);
    background-size: 20px 20px;
  }

  .page {
    @apply w-full max-w-[2500px] min-h-[calc(100svh_-_calc(30px_+_2vw)_-_30px)] h-auto;
    padding: 0 clamp(2px, 1px + 1vw, 20px);
  }

  .card_styles {
    border-radius: 0 20px 20px 0;
    border-left: 5px solid;
    border-image: linear-gradient(
      to bottom,
      var(--color-accent),
      var(--color-accent-2)
      ) 1 100%;
    background: #ffffff07;
    box-shadow: 7px 7px 21px #ffffff1f;
  }

  .nav {
    border-right: 5px solid red;
    border-image: linear-gradient(
      to bottom,
      var(--color-accent-2),
      var(--color-accent)
      ) 1 100%;

    .nav_item {
      transition: 700ms ease-in-out;
    }

    .nav_item:hover {
      text-shadow:
        0 0 7px #fff9,
        0 0 10px var(--color-accent),
        0 0 15px var(--color-accent),
        0 0 18px var(--color-accent-2),
        0 0 22px var(--color-accent-2);
      transition: 125ms ease-in-out;
      transform: translate(-5px);

    }
  }

  .h2 {
    font-size: clamp(1.5rem, 2.2rem + 0.8vw, 3.5rem);
    font-weight: 600;
    text-align: center;
    line-height: 1;
  }

  /* # margenes */
  .frame {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 110;
    width: 100%;
    height: 100dvh; /* dynamic vh */
    user-select: none;
    pointer-events: none;

    .frame_fillTop,
    .frame_fillBottom {
      position: absolute;
      left: 40px;
      right: 40px;
      background-color: #0b0b0b;
      opacity: 0.9;
    }

    .frame_fillTop {
      top: 0;
      height: calc(30px + 2vw);
    }

    .frame_fillBottom {
      bottom: 0;
      height: 30px;
    }

    .frame_t1,
    .frame_b1,
    .frame_b2, {
      position: absolute;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: var(--color-base);
      opacity: 0.5;
    }

    .frame_t1 {
      top: calc(30px + 2vw);
    }

    .frame_b1 {
      bottom: 30px;
    }

    .frame_b2 {
      bottom: 20px;
    }

    .frame_l,
    .frame_r {
      position: absolute;
      top: 0;
      width: 1px;
      height: 100%;
      background-color: var(--color-base);
      opacity: 0.5;
    }

    .frame_l {
      left: 40px;
    }

    .frame_r {
      right: 40px;
    }

    .frame_fill_l,
    .frame_fill_r {
      position: absolute;
      bottom: 20px;
      width: 40px;
      height: 10px;
      background-color: var(--color-base);
      opacity: 0.8;
    }

    .frame_fill_l {
      left: 0;
    }

    .frame_fill_r {
      right: 0;
    }

    .frame_text_left,
    .frame_text_right {
      position: fixed;
      display: flex;
      width: 40px;
      text-transform: uppercase;
      color: var(--color-base);
      opacity: 0.03;
      line-height: .8;

      user-select: none;
      writing-mode: vertical-lr;
      z-index: inherit;
    }

    .frame_text_left {
      left: 0px;
      align-items: end;
      padding-right: 3px;
      top: calc(30px + 2vw + clamp(2px, 1px + 1.5vw, 200px));
      font-size: clamp(1rem, 1rem + 0.5vw, 2.3rem);
      font-weight: 600;
      letter-spacing: 1px;
    }

    .frame_text_right {
      right: 0;
      bottom: 60px;
      align-items: center;
      font-size: 2.8rem;
      font-weight: 700;
      letter-spacing: 3px;

      transform: rotate(180deg);
    }

    @media screen and (max-width: 800px) {
      .frame_fillTop,
      .frame_fillBottom {
        left: 20px;
        right: 20px;
      }

      .frame_l {
        left: 20px;
      }

      .frame_r {
        right: 20px;
      }

      .frame_fill_l,
      .frame_fill_r {
        width: 20px;
      }

      .frame_text_left,
      .frame_text_right {
        opacity: 0;
      }
    }
  }

  /* # header */
  .header {
    .header_title {
      position: fixed;
      left: 0;
      top: 0;
      height: calc(30px + 2vw);
      display: flex;
      align-items: flex-end;
      padding: 0 clamp(2px, 1px + 1.5vw, 200px);
      margin: 0 40px;
      font-size: clamp(0.9rem, 1rem + 1.3vw, 5rem);
      line-height: 0.9;

      z-index: 120;
      user-select: none;
      pointer-events: none;
    }

    .header_icons {
      position: fixed;
      top: 0;
      right: 0;
      display: flex;
      align-items: flex-end;
      height: calc(30px + 2vw);
      padding: 3px clamp(2px, 1px + 1.5vw, 200px);
      margin: 0 40px;
      color: var(--color-base);
      font-size: clamp(15px, 2px + 1vw, 4.5rem);

      cursor: pointer;
      z-index: 120;
    }

    @media screen and (max-width: 800px) {
      .header_title {
        margin: 0 20px;
      }

      .header_icons {
        margin: 0 20px;
      }
    }
  }
}
