@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    @apply box-border m-0 p-0;
  }

  :root {
    @apply bg-[color:var(--color-base)] text-[color:var(--color-base)] text-base font-normal;
    --color-base: #f3f3f3;
    --color-base-dark: #0a0a0a;
    --color-muted: #aeaeae;
    --color-accent: #f13024;
    --color-accent-2: #ffa500;
  }

  body {
    @apply w-[100%] min-h-[100svh] h-auto bg-[var(--color-base-dark)] !scrollbar-hide
  }
}

@layer components {
  .main_wrapper {
    @apply w-[100%] min-h-[100svh] h-auto pt-[calc(30px+2vw)] pb-[30px] px-[20px] min-[801px]:px-[40px]
  }

  .flex_center {
    @apply flex items-center justify-center;
  }

  .flex_center_column {
    @apply flex flex-col items-center justify-center;
  }
}
